openapi: 3.0.1
info:
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Libre Graph API
  version: v0.13.2
servers:
- description: ownCloud Infinite Scale Latest
  url: https://ocis.ocis-traefik.latest.owncloud.works/
security:
- openId: []
paths:
  /me:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      tags:
      - me.user
      x-ms-docs-operation-type: operation
  /me/changePassword:
    post:
      operationId: ChangeOwnPassword
      requestBody:
        $ref: '#/components/requestBodies/Password_change'
        content:
          application/json:
            schema:
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
              title: Password change
              type: object
        description: Password change request
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Chanage your own password
      tags:
      - me.changepassword
      x-ms-docs-operation-type: operation
  /me/drives:
    get:
      operationId: ListMyDrives
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The $orderby system query option allows clients to request resources
          in either ascending order using asc or descending order using desc.
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - createdBy
            - createdDateTime
            - description
            - eTag
            - lastModifiedBy
            - lastModifiedDateTime
            - name
            - parentReference
            - webUrl
            - driveType
            - owner
            - quota
            - createdByUser
            - lastModifiedByUser
            - root
            - special
            type: string
          maxItems: 19
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - '*'
            - root
            - root/permissions/grantedTo/user
            - special
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_drives'
          description: Retrieved spaces
          links:
            root:
              operationId: HomeGetRoot
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get drives from me
      tags:
      - me.drives
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /drives:
    get:
      operationId: ListAllDrives
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The $orderby system query option allows clients to request resources
          in either ascending order using asc or descending order using desc.
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - createdBy
            - createdDateTime
            - description
            - eTag
            - lastModifiedBy
            - lastModifiedDateTime
            - name
            - parentReference
            - webUrl
            - driveType
            - owner
            - quota
            - createdByUser
            - lastModifiedByUser
            - root
            - special
            type: string
          maxItems: 19
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - '*'
            - root
            - root/permissions/grantedTo/user
            - special
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_drives'
          description: Retrieved spaces
          links:
            root:
              operationId: GetRoot
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get All drives
      tags:
      - drives.GetDrives
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateDrive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drive'
        description: New space property values
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Create a new space of a specific type
      tags:
      - drives
      x-ms-docs-operation-type: operation
  /drives/{drive-id}:
    delete:
      operationId: DeleteDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete a specific space
      tags:
      - drives
      x-ms-docs-operation-type: operation
    get:
      operationId: GetDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - createdBy
            - createdDateTime
            - description
            - eTag
            - lastModifiedBy
            - lastModifiedDateTime
            - name
            - parentReference
            - webUrl
            - driveType
            - owner
            - quota
            - createdByUser
            - lastModifiedByUser
            - root
            - special
            type: string
          maxItems: 19
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - '*'
            - root
            - special
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Retrieved space
          links:
            root:
              operationId: GetRoot
              parameters:
                drive-id: $request.path.drive-id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get drive by id
      tags:
      - drives
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drive'
        description: New space values
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update the space
      tags:
      - drives
      x-ms-docs-operation-type: operation
  /drives/{drive-id}/root:
    get:
      operationId: GetRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driveItem'
          description: Retrieved resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get root from arbitrary space
      tags:
      - drives.root
      x-ms-docs-operation-type: operation
  /groups:
    get:
      operationId: ListGroups
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Search items by search phrases
        explode: true
        in: query
        name: $search
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Order items by property values
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - id
            - id desc
            - deletedDateTime
            - deletedDateTime desc
            - createdDateTime
            - createdDateTime desc
            - description
            - description desc
            - displayName
            - displayName desc
            - mail
            - mail desc
            - onPremisesDomainName
            - onPremisesDomainName desc
            - onPremisesLastSyncDateTime
            - onPremisesLastSyncDateTime desc
            - onPremisesSamAccountName
            - onPremisesSamAccountName desc
            - onPremisesSyncEnabled
            - onPremisesSyncEnabled desc
            - preferredLanguage
            - preferredLanguage desc
            - securityEnabled
            - securityEnabled desc
            - securityIdentifier
            - securityIdentifier desc
            - visibility
            - visibility desc
            - isArchived
            - isArchived desc
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - deletedDateTime
            - createdDateTime
            - description
            - displayName
            - expirationDateTime
            - mail
            - onPremisesDomainName
            - onPremisesLastSyncDateTime
            - onPremisesNetBiosName
            - onPremisesProvisioningErrors
            - onPremisesSamAccountName
            - onPremisesSyncEnabled
            - preferredLanguage
            - renewedDateTime
            - securityEnabled
            - securityIdentifier
            - visibility
            - isArchived
            - createdOnBehalfOf
            - memberOf
            - members
            - owners
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_group'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entities from groups
      tags:
      - groups
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add new entity to groups
      tags:
      - groups
      x-ms-docs-operation-type: operation
  /groups/{group-id}:
    delete:
      operationId: DeleteGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete entity from groups
      tags:
      - group
      x-ms-docs-operation-type: operation
    get:
      operationId: GetGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - deletedDateTime
            - createdDateTime
            - description
            - displayName
            - expirationDateTime
            - mail
            - onPremisesDomainName
            - onPremisesLastSyncDateTime
            - onPremisesNetBiosName
            - onPremisesProvisioningErrors
            - onPremisesSamAccountName
            - onPremisesSyncEnabled
            - preferredLanguage
            - renewedDateTime
            - securityEnabled
            - securityIdentifier
            - visibility
            - isArchived
            - createdOnBehalfOf
            - memberOf
            - members
            - owners
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entity from groups by key
      tags:
      - group
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
        description: New property values
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update entity in groups
      tags:
      - group
      x-ms-docs-operation-type: operation
  /groups/{group-id}/members/$ref:
    post:
      operationId: AddMember
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      requestBody:
        $ref: '#/components/requestBodies/Member_Reference'
        content:
          application/json:
            schema:
              properties:
                '@odata.id':
                  type: string
              title: Member Reference
              type: object
        description: Object to be added as member
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add a member to a group
      tags:
      - group
      x-ms-docs-operation-type: operation
  /groups/{group-id}/members/{directory-object-id}/$ref:
    delete:
      operationId: DeleteMember
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: "key: id of group member to remove"
        explode: false
        in: path
        name: directory-object-id
        required: true
        schema:
          type: string
        style: simple
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete member from a group
      tags:
      - group
      x-ms-docs-operation-type: operation
  /me/drive:
    get:
      operationId: GetHome
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Retrieved personal space
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get personal space for user
      tags:
      - me.drive
      x-ms-docs-operation-type: operation
  /me/drive/root:
    get:
      operationId: HomeGetRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driveItem'
          description: Retrieved resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get root from personal space
      tags:
      - me.drive.root
      x-ms-docs-operation-type: operation
  /me/drive/root/children:
    get:
      operationId: HomeGetChildren
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_driveItems'
          description: Retrieved resource list
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get children from drive
      tags:
      - me.drive.root.children
      x-ms-docs-operation-type: operation
  /users:
    get:
      operationId: ListUsers
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Search items by search phrases
        explode: true
        in: query
        name: $search
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Order items by property values
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - id
            - id desc
            - deletedDateTime
            - deletedDateTime desc
            - accountEnabled
            - accountEnabled desc
            - businessPhones
            - businessPhones desc
            - city
            - city desc
            - companyName
            - companyName desc
            - country
            - country desc
            - createdDateTime
            - createdDateTime desc
            - department
            - department desc
            - displayName
            - displayName desc
            - faxNumber
            - faxNumber desc
            - givenName
            - givenName desc
            - lastPasswordChangeDateTime
            - lastPasswordChangeDateTime desc
            - legalAgeGroupClassification
            - legalAgeGroupClassification desc
            - mail
            - mail desc
            - mailNickname
            - mailNickname desc
            - mobilePhone
            - mobilePhone desc
            - officeLocation
            - officeLocation desc
            - onPremisesDistinguishedName
            - onPremisesDistinguishedName desc
            - onPremisesDomainName
            - onPremisesDomainName desc
            - onPremisesImmutableId
            - onPremisesImmutableId desc
            - onPremisesLastSyncDateTime
            - onPremisesLastSyncDateTime desc
            - onPremisesSamAccountName
            - onPremisesSamAccountName desc
            - onPremisesSyncEnabled
            - onPremisesSyncEnabled desc
            - onPremisesUserPrincipalName
            - onPremisesUserPrincipalName desc
            - postalCode
            - postalCode desc
            - preferredLanguage
            - preferredLanguage desc
            - state
            - state desc
            - streetAddress
            - streetAddress desc
            - surname
            - surname desc
            - usageLocation
            - usageLocation desc
            - userPrincipalName
            - userPrincipalName desc
            - userType
            - userType desc
            - aboutMe
            - aboutMe desc
            - birthday
            - birthday desc
            - preferredName
            - preferredName desc
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - deletedDateTime
            - accountEnabled
            - businessPhones
            - city
            - companyName
            - country
            - createdDateTime
            - creationType
            - department
            - displayName
            - faxNumber
            - givenName
            - lastPasswordChangeDateTime
            - legalAgeGroupClassification
            - licenseAssignmentStates
            - mail
            - mailNickname
            - mobilePhone
            - officeLocation
            - onPremisesDistinguishedName
            - onPremisesDomainName
            - onPremisesImmutableId
            - onPremisesLastSyncDateTime
            - onPremisesSamAccountName
            - onPremisesSyncEnabled
            - onPremisesUserPrincipalName
            - postalCode
            - preferredLanguage
            - state
            - streetAddress
            - surname
            - usageLocation
            - userPrincipalName
            - userType
            - aboutMe
            - birthday
            - preferredName
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - '*'
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_user'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entities from users
      tags:
      - users
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add new entity to users
      tags:
      - users
      x-ms-docs-operation-type: operation
  /users/{user-id}:
    delete:
      operationId: DeleteUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete entity from users
      tags:
      - user
      x-ms-docs-operation-type: operation
    get:
      operationId: GetUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - deletedDateTime
            - accountEnabled
            - businessPhones
            - city
            - companyName
            - country
            - createdDateTime
            - creationType
            - department
            - displayName
            - faxNumber
            - givenName
            - lastPasswordChangeDateTime
            - legalAgeGroupClassification
            - mail
            - mailNickname
            - mobilePhone
            - officeLocation
            - onPremisesDistinguishedName
            - onPremisesDomainName
            - onPremisesImmutableId
            - onPremisesLastSyncDateTime
            - onPremisesSamAccountName
            - onPremisesSyncEnabled
            - onPremisesUserPrincipalName
            - postalCode
            - preferredLanguage
            - state
            - streetAddress
            - surname
            - usageLocation
            - userPrincipalName
            - userType
            - aboutMe
            - birthday
            - preferredName
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - '*'
            - drive
            - drives
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entity from users by key
      tags:
      - user
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        description: New property values
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update entity in users
      tags:
      - user
      x-ms-docs-operation-type: operation
components:
  parameters:
    top:
      description: Show only the first n items
      example: 50
      explode: true
      in: query
      name: $top
      required: false
      schema:
        minimum: 0
        type: integer
      style: form
    skip:
      description: Skip the first n items
      explode: true
      in: query
      name: $skip
      required: false
      schema:
        minimum: 0
        type: integer
      style: form
    search:
      description: Search items by search phrases
      explode: true
      in: query
      name: $search
      required: false
      schema:
        type: string
      style: form
    filter:
      description: Filter items by property values
      explode: true
      in: query
      name: $filter
      required: false
      schema:
        type: string
      style: form
    count:
      description: Include count of items
      explode: true
      in: query
      name: $count
      required: false
      schema:
        type: boolean
      style: form
    orderby:
      description: The $orderby system query option allows clients to request resources
        in either ascending order using asc or descending order using desc.
      explode: true
      in: query
      name: $orderby
      required: false
      schema:
        type: string
      style: form
  requestBodies:
    Member_Reference:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Member_Reference'
      required: true
    Password_change:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Password_change'
      required: true
  responses:
    error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
      description: error
  schemas:
    drive:
      description: Storage Space. Read-only.
      example:
        owner:
          application:
            displayName: displayName
            id: id
          device:
            displayName: displayName
            id: id
          user:
            displayName: displayName
            id: id
        driveAlias: driveAlias
        lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
        createdByUser: null
        driveType: driveType
        lastModifiedBy:
          application:
            displayName: displayName
            id: id
          device:
            displayName: displayName
            id: id
          user:
            displayName: displayName
            id: id
        createdDateTime: 2000-01-23T04:56:07.000+00:00
        description: description
        special:
        - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          content: content
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          file:
            processingMetadata: true
            hashes:
              sha256Hash: sha256Hash
              quickXorHash: quickXorHash
              sha1Hash: sha1Hash
              crc32Hash: crc32Hash
            mimeType: mimeType
          children:
          - null
          - null
          permissions:
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          root: "{}"
          cTag: cTag
          eTag: eTag
          id: id
          image:
            width: 1516424369
            height: 494379917
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webDavUrl: webDavUrl
          trash:
            trashedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            trashedDateTime: 2000-01-23T04:56:07.000+00:00
          deleted:
            state: state
          folder:
            view:
              sortOrder: sortOrder
              viewType: viewType
              sortBy: sortBy
            childCount: 1210617418
          size: 3
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          remoteItem:
            image:
              width: 1516424369
              height: 494379917
            shared:
              owner:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              scope: scope
              sharedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              sharedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            webDavUrl: webDavUrl
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 9
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webUrl: webUrl
            name: name
            cTag: cTag
            eTag: eTag
            id: id
            specialFolder:
              name: name
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          webUrl: webUrl
          name: name
          specialFolder:
            name: name
          lastModifiedByUser: null
          fileSystemInfo:
            lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
        - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          content: content
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          file:
            processingMetadata: true
            hashes:
              sha256Hash: sha256Hash
              quickXorHash: quickXorHash
              sha1Hash: sha1Hash
              crc32Hash: crc32Hash
            mimeType: mimeType
          children:
          - null
          - null
          permissions:
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          root: "{}"
          cTag: cTag
          eTag: eTag
          id: id
          image:
            width: 1516424369
            height: 494379917
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webDavUrl: webDavUrl
          trash:
            trashedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            trashedDateTime: 2000-01-23T04:56:07.000+00:00
          deleted:
            state: state
          folder:
            view:
              sortOrder: sortOrder
              viewType: viewType
              sortBy: sortBy
            childCount: 1210617418
          size: 3
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          remoteItem:
            image:
              width: 1516424369
              height: 494379917
            shared:
              owner:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              scope: scope
              sharedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              sharedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            webDavUrl: webDavUrl
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 9
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webUrl: webUrl
            name: name
            cTag: cTag
            eTag: eTag
            id: id
            specialFolder:
              name: name
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          webUrl: webUrl
          name: name
          specialFolder:
            name: name
          lastModifiedByUser: null
          fileSystemInfo:
            lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
        parentReference:
          path: path
          driveId: driveId
          driveType: driveType
          name: name
          shareId: shareId
          id: id
        createdBy:
          application:
            displayName: displayName
            id: id
          device:
            displayName: displayName
            id: id
          user:
            displayName: displayName
            id: id
        webUrl: webUrl
        quota:
          total: 1
          deleted: 0
          state: state
          used: 5
          remaining: 6
        root:
          lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          content: content
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          file:
            processingMetadata: true
            hashes:
              sha256Hash: sha256Hash
              quickXorHash: quickXorHash
              sha1Hash: sha1Hash
              crc32Hash: crc32Hash
            mimeType: mimeType
          children:
          - null
          - null
          permissions:
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          root: "{}"
          cTag: cTag
          eTag: eTag
          id: id
          image:
            width: 1516424369
            height: 494379917
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webDavUrl: webDavUrl
          trash:
            trashedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            trashedDateTime: 2000-01-23T04:56:07.000+00:00
          deleted:
            state: state
          folder:
            view:
              sortOrder: sortOrder
              viewType: viewType
              sortBy: sortBy
            childCount: 1210617418
          size: 3
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          remoteItem:
            image:
              width: 1516424369
              height: 494379917
            shared:
              owner:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              scope: scope
              sharedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              sharedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            webDavUrl: webDavUrl
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 9
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webUrl: webUrl
            name: name
            cTag: cTag
            eTag: eTag
            id: id
            specialFolder:
              name: name
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          webUrl: webUrl
          name: name
          specialFolder:
            name: name
          lastModifiedByUser: null
          fileSystemInfo:
            lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
        name: name
        eTag: eTag
        id: id
        items:
        - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          content: content
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          file:
            processingMetadata: true
            hashes:
              sha256Hash: sha256Hash
              quickXorHash: quickXorHash
              sha1Hash: sha1Hash
              crc32Hash: crc32Hash
            mimeType: mimeType
          children:
          - null
          - null
          permissions:
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          root: "{}"
          cTag: cTag
          eTag: eTag
          id: id
          image:
            width: 1516424369
            height: 494379917
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webDavUrl: webDavUrl
          trash:
            trashedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            trashedDateTime: 2000-01-23T04:56:07.000+00:00
          deleted:
            state: state
          folder:
            view:
              sortOrder: sortOrder
              viewType: viewType
              sortBy: sortBy
            childCount: 1210617418
          size: 3
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          remoteItem:
            image:
              width: 1516424369
              height: 494379917
            shared:
              owner:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              scope: scope
              sharedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              sharedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            webDavUrl: webDavUrl
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 9
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webUrl: webUrl
            name: name
            cTag: cTag
            eTag: eTag
            id: id
            specialFolder:
              name: name
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          webUrl: webUrl
          name: name
          specialFolder:
            name: name
          lastModifiedByUser: null
          fileSystemInfo:
            lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
        - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          content: content
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          file:
            processingMetadata: true
            hashes:
              sha256Hash: sha256Hash
              quickXorHash: quickXorHash
              sha1Hash: sha1Hash
              crc32Hash: crc32Hash
            mimeType: mimeType
          children:
          - null
          - null
          permissions:
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          - grantedTo:
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            - application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            roles:
            - roles
            - roles
          root: "{}"
          cTag: cTag
          eTag: eTag
          id: id
          image:
            width: 1516424369
            height: 494379917
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webDavUrl: webDavUrl
          trash:
            trashedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            trashedDateTime: 2000-01-23T04:56:07.000+00:00
          deleted:
            state: state
          folder:
            view:
              sortOrder: sortOrder
              viewType: viewType
              sortBy: sortBy
            childCount: 1210617418
          size: 3
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          remoteItem:
            image:
              width: 1516424369
              height: 494379917
            shared:
              owner:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              scope: scope
              sharedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              sharedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            webDavUrl: webDavUrl
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 9
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webUrl: webUrl
            name: name
            cTag: cTag
            eTag: eTag
            id: id
            specialFolder:
              name: name
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          webUrl: webUrl
          name: name
          specialFolder:
            name: name
          lastModifiedByUser: null
          fileSystemInfo:
            lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedByUser: null
      properties:
        id:
          description: Read-only.
          readOnly: true
          type: string
        createdBy:
          $ref: '#/components/schemas/identitySet'
        createdDateTime:
          description: Date and time of item creation. Read-only.
          format: date-time
          pattern: "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])[Tt]([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?([Zz]|[+-][0-9][0-9]:[0-9][0-9])$"
          readOnly: true
          type: string
        description:
          description: Provides a user-visible description of the item. Optional.
          type: string
        eTag:
          description: ETag for the item. Read-only.
          readOnly: true
          type: string
        lastModifiedBy:
          $ref: '#/components/schemas/identitySet'
        lastModifiedDateTime:
          description: Date and time the item was last modified. Read-only.
          format: date-time
          pattern: "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])[Tt]([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?([Zz]|[+-][0-9][0-9]:[0-9][0-9])$"
          readOnly: true
          type: string
        name:
          description: The name of the item. Read-write.
          type: string
        parentReference:
          $ref: '#/components/schemas/itemReference'
        webUrl:
          description: URL that displays the resource in the browser. Read-only.
          readOnly: true
          type: string
        createdByUser:
          $ref: '#/components/schemas/user'
        lastModifiedByUser:
          $ref: '#/components/schemas/user'
        driveType:
          description: "Describes the type of drive represented by this resource.\
            \ Values are \"personal\" for users home spaces, \"project\", \"virtual\"\
            \ or \"share\". Read-only."
          readOnly: true
          type: string
        driveAlias:
          description: "The drive alias can be used in clients to make the urls user\
            \ friendly. Example: 'personal/einstein'. This will be used to resolve\
            \ to the correct driveID."
          type: string
        owner:
          $ref: '#/components/schemas/identitySet'
        quota:
          $ref: '#/components/schemas/quota'
        items:
          description: All items contained in the drive. Read-only. Nullable.
          items:
            $ref: '#/components/schemas/driveItem'
          readOnly: true
          type: array
        root:
          $ref: '#/components/schemas/driveItem'
        special:
          description: A collection of special drive resources.
          items:
            $ref: '#/components/schemas/driveItem'
          type: array
      readOnly: true
      type: object
    identitySet:
      description: Optional. User account.
      example:
        application:
          displayName: displayName
          id: id
        device:
          displayName: displayName
          id: id
        user:
          displayName: displayName
          id: id
      properties:
        application:
          $ref: '#/components/schemas/identity'
        device:
          $ref: '#/components/schemas/identity'
        user:
          $ref: '#/components/schemas/identity'
      type: object
    identity:
      example:
        displayName: displayName
        id: id
      properties:
        displayName:
          description: "The identity's display name. Note that this may not always\
            \ be available or up to date. For example, if a user changes their display\
            \ name, the API may show the new value in a future response, but the items\
            \ associated with the user won't show up as having changed when using\
            \ delta."
          type: string
        id:
          description: Unique identifier for the identity.
          type: string
      type: object
    passwordProfile:
      description: Password Profile associated with a user
      example:
        password: password
        forceChangePasswordNextSignIn: false
      properties:
        forceChangePasswordNextSignIn:
          default: false
          description: If true the user is required to change their password upon
            the next login
          type: boolean
        password:
          description: The user's password
          type: string
          writeOnly: true
      type: object
    user:
      description: Represents an Active Directory user object.
      example:
        passwordProfile:
          password: password
          forceChangePasswordNextSignIn: false
        birthday: 2000-01-23T04:56:07.000+00:00
        country: country
        onPremisesDistinguishedName: onPremisesDistinguishedName
        preferredLanguage: preferredLanguage
        mail: mail
        city: city
        displayName: displayName
        companyName: companyName
        postalCode: postalCode
        createdDateTime: 2000-01-23T04:56:07.000+00:00
        deletedDateTime: 2000-01-23T04:56:07.000+00:00
        legalAgeGroupClassification: legalAgeGroupClassification
        accountEnabled: true
        aboutMe: aboutMe
        businessPhones:
        - businessPhones
        - businessPhones
        onPremisesSyncEnabled: true
        onPremisesUserPrincipalName: onPremisesUserPrincipalName
        officeLocation: officeLocation
        surname: surname
        onPremisesSamAccountName: onPremisesSamAccountName
        id: id
        state: state
        preferredName: preferredName
        department: department
        userPrincipalName: userPrincipalName
        mailNickname: mailNickname
        givenName: givenName
        mobilePhone: mobilePhone
        streetAddress: streetAddress
        drives:
        - owner:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          driveAlias: driveAlias
          lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          createdByUser: null
          driveType: driveType
          lastModifiedBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          description: description
          special:
          - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdByUser: null
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            description: description
            content: content
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            children:
            - null
            - null
            permissions:
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            root: "{}"
            cTag: cTag
            eTag: eTag
            id: id
            image:
              width: 1516424369
              height: 494379917
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webDavUrl: webDavUrl
            trash:
              trashedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              trashedDateTime: 2000-01-23T04:56:07.000+00:00
            deleted:
              state: state
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 3
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            remoteItem:
              image:
                width: 1516424369
                height: 494379917
              shared:
                owner:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                scope: scope
                sharedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                sharedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              webDavUrl: webDavUrl
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 9
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              webUrl: webUrl
              name: name
              cTag: cTag
              eTag: eTag
              id: id
              specialFolder:
                name: name
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            webUrl: webUrl
            name: name
            specialFolder:
              name: name
            lastModifiedByUser: null
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdByUser: null
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            description: description
            content: content
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            children:
            - null
            - null
            permissions:
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            root: "{}"
            cTag: cTag
            eTag: eTag
            id: id
            image:
              width: 1516424369
              height: 494379917
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webDavUrl: webDavUrl
            trash:
              trashedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              trashedDateTime: 2000-01-23T04:56:07.000+00:00
            deleted:
              state: state
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 3
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            remoteItem:
              image:
                width: 1516424369
                height: 494379917
              shared:
                owner:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                scope: scope
                sharedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                sharedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              webDavUrl: webDavUrl
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 9
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              webUrl: webUrl
              name: name
              cTag: cTag
              eTag: eTag
              id: id
              specialFolder:
                name: name
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            webUrl: webUrl
            name: name
            specialFolder:
              name: name
            lastModifiedByUser: null
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          parentReference:
            path: path
            driveId: driveId
            driveType: driveType
            name: name
            shareId: shareId
            id: id
          createdBy:
            application:
              displayName: displayName
              id: id
            device:
              displayName: displayName
              id: id
            user:
              displayName: displayName
              id: id
          webUrl: webUrl
          quota:
            total: 1
            deleted: 0
            state: state
            used: 5
            remaining: 6
          root:
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdByUser: null
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            description: description
            content: content
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            children:
            - null
            - null
            permissions:
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            root: "{}"
            cTag: cTag
            eTag: eTag
            id: id
            image:
              width: 1516424369
              height: 494379917
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webDavUrl: webDavUrl
            trash:
              trashedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              trashedDateTime: 2000-01-23T04:56:07.000+00:00
            deleted:
              state: state
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 3
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            remoteItem:
              image:
                width: 1516424369
                height: 494379917
              shared:
                owner:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                scope: scope
                sharedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                sharedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              webDavUrl: webDavUrl
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 9
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              webUrl: webUrl
              name: name
              cTag: cTag
              eTag: eTag
              id: id
              specialFolder:
                name: name
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            webUrl: webUrl
            name: name
            specialFolder:
              name: name
            lastModifiedByUser: null
            fileSystemInfo:
              lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdDateTime: 2000-01-23T04:56:07.000+00:00
          name: name
          eTag: eTag
          id: id
          items:
          - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdByUser: null
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            description: description
            content: content
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            file:
              processingMetadata: true
              hashes:
                sha256Hash: sha256Hash
                quickXorHash: quickXorHash
                sha1Hash: sha1Hash
                crc32Hash: crc32Hash
              mimeType: mimeType
            children:
            - null
            - null
            permissions:
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            - grantedTo:
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              - application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              roles:
              - roles
              - roles
            root: "{}"
            cTag: cTag
            eTag: eTag
            id: id
            image:
              width: 1516424369
              height: 494379917
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
            webDavUrl: webDavUrl
            trash:
              trashedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
              trashedDateTime: 2000-01-23T04:56:07.000+00:00
            deleted:
              state: state
            folder:
              view:
                sortOrder: sortOrder
                viewType: viewType
                sortBy: sortBy
              childCount: 1210617418
            size: 3
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
[...]
