openapi: 3.0.1
info:
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Libre Graph API
  version: v1.0.1
servers:
- description: ownCloud Infinite Scale Latest
  url: https://ocis.ocis-traefik.latest.owncloud.works/graph/v1.0
- description: ownCloud Infinite Scale Development Setup
  url: https://localhost:9200/graph/v1.0
security:
- openId: []
paths:
  /me:
    get:
      operationId: GetOwnUser
      parameters:
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - memberOf
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get current user
      tags:
      - me.user
      x-ms-docs-operation-type: operation
  /me/changePassword:
    post:
      operationId: ChangeOwnPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Password_change'
        description: Password change request
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Chanage your own password
      tags:
      - me.changepassword
      x-ms-docs-operation-type: operation
  /me/drives:
    get:
      operationId: ListMyDrives
      parameters:
      - description: The $orderby system query option allows clients to request resources
          in either ascending order using asc or descending order using desc.
        examples:
          last modified descending:
            value: lastModifiedDateTime desc
          last modified ascending:
            value: lastModifiedDateTime asc
          name descending:
            value: name desc
          name ascending:
            value: name asc
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        examples:
          filter by type:
            value: driveType eq 'project'
          filter by id:
            value: id eq 'uuid'
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_drives'
          description: Retrieved spaces
          links:
            root:
              operationId: HomeGetRoot
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get all drives where the current user is a regular member of
      tags:
      - me.drives
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /drives:
    get:
      operationId: ListAllDrives
      parameters:
      - description: The $orderby system query option allows clients to request resources
          in either ascending order using asc or descending order using desc.
        examples:
          last modified descending:
            value: lastModifiedDateTime desc
          last modified ascending:
            value: lastModifiedDateTime asc
          name descending:
            value: name desc
          name ascending:
            value: name asc
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        examples:
          filter by type:
            value: driveType eq 'project'
          filter by id:
            value: id eq 'uuid'
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_drives_1'
          description: Retrieved spaces
          links:
            root:
              operationId: GetRoot
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get all available drives
      tags:
      - drives.GetDrives
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateDrive
      requestBody:
        content:
          application/json:
            examples:
              multiple values:
                value:
                  name: Mars
                  quota:
                    total: 1000000000
                  description: Team space mars project
              minimal:
                value:
                  name: Venus
            schema:
              $ref: '#/components/schemas/drive'
        description: New space property values
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Create a new drive of a specific type
      tags:
      - drives
      x-ms-docs-operation-type: operation
  /drives/{drive-id}:
    delete:
      operationId: DeleteDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete a specific space
      tags:
      - drives
      x-ms-docs-operation-type: operation
    get:
      operationId: GetDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Retrieved drive
          links:
            root:
              operationId: GetRoot
              parameters:
                drive-id: $request.path.drive-id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get drive by id
      tags:
      - drives
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateDrive
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      requestBody:
        content:
          application/json:
            examples:
              change quota:
                value:
                  quota:
                    total: 1000000000
              change name:
                value:
                  name: Physics
              change description:
                value:
                  description: Marketing team collaboration area
              change drive image:
                value:
                  special:
                    id: 408f26e3-d6d8-4aa4-bd5c-3fd6f5032b51$aba2bafc-e1a0-421e-a37a-9acf5f655f83!14fd3432-e8d9-42a7-9446-2e3fd621afca
                    specialFolder:
                      name: image
              change drive readme:
                value:
                  special:
                    id: 408f26e3-d6d8-4aa4-bd5c-3fd6f5032b51$aba2bafc-e1a0-421e-a37a-9acf5f655f83!14fd3432-e8d9-42a7-9446-2e3fd621afca
                    specialFolder:
                      name: readme
            schema:
              $ref: '#/components/schemas/drive'
        description: New space values
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update the drive
      tags:
      - drives
      x-ms-docs-operation-type: operation
  /drives/{drive-id}/root:
    get:
      operationId: GetRoot
      parameters:
      - description: "key: id of drive"
        explode: false
        in: path
        name: drive-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: drive
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driveItem'
          description: Retrieved resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get root from arbitrary space
      tags:
      - drives.root
      x-ms-docs-operation-type: operation
  /groups:
    get:
      operationId: ListGroups
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Search items by search phrases
        explode: true
        in: query
        name: $search
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        examples:
          filter by type:
            value: driveType eq 'project'
          filter by id:
            value: id eq 'uuid'
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Order items by property values
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - displayName
            - displayName desc
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - description
            - displayName
            - mail
            - members
            - onPremisesDomainName
            - onPremisesSamAccountName
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - members
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_group'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entities from groups
      tags:
      - groups
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add new entity to groups
      tags:
      - groups
      x-ms-docs-operation-type: operation
  /groups/{group-id}:
    delete:
      operationId: DeleteGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete entity from groups
      tags:
      - group
      x-ms-docs-operation-type: operation
    get:
      operationId: GetGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - description
            - displayName
            - members
            - onPremisesDomainName
            - onPremisesSamAccountName
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - members
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entity from groups by key
      tags:
      - group
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateGroup
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/group'
        description: New property values
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update entity in groups
      tags:
      - group
      x-ms-docs-operation-type: operation
  /groups/{group-id}/members/$ref:
    post:
      operationId: AddMember
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member_Reference'
        description: Object to be added as member
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add a member to a group
      tags:
      - group
      x-ms-docs-operation-type: operation
  /groups/{group-id}/members/{directory-object-id}/$ref:
    delete:
      operationId: DeleteMember
      parameters:
      - description: "key: id of group"
        explode: false
        in: path
        name: group-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: group
      - description: "key: id of group member to remove"
        explode: false
        in: path
        name: directory-object-id
        required: true
        schema:
          type: string
        style: simple
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete member from a group
      tags:
      - group
      x-ms-docs-operation-type: operation
  /me/drive:
    get:
      operationId: GetHome
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive'
          description: Retrieved personal space
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get personal space for user
      tags:
      - me.drive
      x-ms-docs-operation-type: operation
  /me/drive/root:
    get:
      operationId: HomeGetRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driveItem'
          description: Retrieved resource
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get root from personal space
      tags:
      - me.drive.root
      x-ms-docs-operation-type: operation
  /me/drive/root/children:
    get:
      operationId: HomeGetChildren
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_driveItems'
          description: Retrieved resource list
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get children from drive
      tags:
      - me.drive.root.children
      x-ms-docs-operation-type: operation
  /users:
    get:
      operationId: ListUsers
      parameters:
      - description: Show only the first n items
        example: 50
        explode: true
        in: query
        name: $top
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Skip the first n items
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Search items by search phrases
        explode: true
        in: query
        name: $search
        required: false
        schema:
          type: string
        style: form
      - description: Filter items by property values
        examples:
          filter by type:
            value: driveType eq 'project'
          filter by id:
            value: id eq 'uuid'
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Include count of items
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: Order items by property values
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - displayName
            - displayName desc
            - mail
            - mail desc
            - onPremisesSamAccountName
            - onPremisesSamAccountName desc
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - displayName
            - mail
            - memberOf
            - onPremisesSamAccountName
            - surname
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - drive
            - drives
            - memberOf
            - appRoleAssignments
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_user'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entities from users
      tags:
      - users
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Add new entity to users
      tags:
      - users
      x-ms-docs-operation-type: operation
  /users/{user-id}:
    delete:
      operationId: DeleteUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete entity from users
      tags:
      - user
      x-ms-docs-operation-type: operation
    get:
      operationId: GetUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      - description: Select properties to be returned
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            enum:
            - id
            - displayName
            - drive
            - drives
            - mail
            - memberOf
            - onPremisesSamAccountName
            - surname
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - drive
            - drives
            - memberOf
            - appRoleAssignments
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get entity from users by key
      tags:
      - user
      x-ms-docs-operation-type: operation
    patch:
      operationId: UpdateUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
        x-ms-docs-key-type: user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        description: New property values
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Update entity in users
      tags:
      - user
      x-ms-docs-operation-type: operation
  /users/{user-id}/appRoleAssignments:
    description: Provides operations to manage assignments of roles to users.
    get:
      description: Represents the global roles a user has been granted for an application.
      operationId: user.ListAppRoleAssignments
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_appRoleAssignments'
          description: Retrieved appRoleAssignments
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get appRoleAssignments from a user
      tags:
      - user.appRoleAssignment
    post:
      description: |
        Use this API to assign a global role to a user. To grant an app role assignment to a user, you need three identifiers:
        * `principalId`: The `id` of the user to whom you are assigning the app role.
        * `resourceId`: The `id` of the resource `servicePrincipal` or `application` that has defined the app role.
        * `appRoleId`: The `id` of the `appRole` (defined on the resource service principal or application) to assign to the user.
      operationId: user.CreateAppRoleAssignments
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appRoleAssignment'
        description: New app role assignment value
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appRoleAssignment'
          description: Created new app role assignment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Grant an appRoleAssignment to a user
      tags:
      - user.appRoleAssignment
  /users/{user-id}/appRoleAssignments/{appRoleAssignment-id}:
    delete:
      operationId: user.DeleteAppRoleAssignments
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
      - description: "key: id of appRoleAssignment. This is the concatenated {user-id}:{appRole-id}\
          \ separated by a colon."
        explode: false
        in: path
        name: appRoleAssignment-id
        required: true
        schema:
          type: string
        style: simple
      - description: ETag
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Delete the appRoleAssignment from a user
      tags:
      - user.appRoleAssignment
    description: Provides operations to manage a global role for an assigned user.
  /education/users:
    get:
      operationId: ListEducationUsers
      parameters:
      - description: Order items by property values
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - displayName
            - displayName desc
            - mail
            - mail desc
            - onPremisesSamAccountName
            - onPremisesSamAccountName desc
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - memberOf
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 90eedea1-dea1-90ee-a1de-ee90a1deee90
                onPremisesSAMAccountName: max.mustermann
                displayName: Max Mustermann
                mail: max.musterman@example.org
                primariyRole: student
                identities:
                - issuer: idp.school.com
                  issuerAssignedId: max.mustermann
                - issuer: newidp.school.com
                  issuerAssignedId: ieZ2AeV5
              schema:
                $ref: '#/components/schemas/Collection_of_educationUser'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Get entities from education users
      tags:
      - educationUser
    post:
      operationId: CreateEducationUser
      requestBody:
        content:
          application/json:
            examples:
              student:
                $ref: '#/components/examples/educationUser_post'
            schema:
              $ref: '#/components/schemas/educationUser'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                student:
                  $ref: '#/components/examples/educationUser'
              schema:
                $ref: '#/components/schemas/educationUser'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Add new education user
      tags:
      - educationUser
  /education/users/{user-id}:
    delete:
      operationId: DeleteEducationUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          example: 90eedea1-dea1-90ee-a1de-ee90a1deee90
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Delete educationUser
      tags:
      - educationUser
    get:
      operationId: GetEducationUser
      parameters:
      - description: "key: id or username of user"
        examples:
          id:
            value: 90eedea1-dea1-90ee-a1de-ee90a1deee90
          name:
            value: max.mustermann
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          type: string
        style: simple
      - description: Expand related entities
        explode: false
        in: query
        name: $expand
        required: false
        schema:
          items:
            enum:
            - memberOf
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                student:
                  $ref: '#/components/examples/educationUser'
              schema:
                $ref: '#/components/schemas/educationUser'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Get properties of educationUser
      tags:
      - educationUser
    patch:
      operationId: UpdateEducationUser
      parameters:
      - description: "key: id of user"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          example: 90eedea1-dea1-90ee-a1de-ee90a1deee90
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              mail: max.mustermann@new.domain
            schema:
              $ref: '#/components/schemas/educationUser'
        description: New property values
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 90eedea1-dea1-90ee-a1de-ee90a1deee90
                onPremisesSAMAccountName: max.mustermann
                displayName: Max Mustermann
                surname: Mustermann
                givenName: Max
                mail: max.musterman@new.domain
                primariyRole: student
                identities:
                - issuer: idp.school.com
                  issuerAssignedId: max.mustermann
              schema:
                $ref: '#/components/schemas/educationUser'
          description: Success
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Update properties of educationUser
      tags:
      - educationUser
  /education/schools:
    get:
      operationId: ListSchools
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 0e19303e-8144-44bd-86d8-35cc8ac9c255
                displayName: Gymnasium Musterstadt
                schoolNumber: "0123"
              - id: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
                displayName: Realschule Musterstadt
                schoolNumber: "1234"
              schema:
                $ref: '#/components/schemas/Collection_of_schools'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Get a list of schools and their properties
      tags:
      - educationSchool
    post:
      operationId: CreateSchool
      requestBody:
        content:
          application/json:
            examples:
              school:
                $ref: '#/components/examples/educationSchool_post'
            schema:
              $ref: '#/components/schemas/educationSchool'
        description: New school
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                school:
                  $ref: '#/components/examples/educationSchool'
              schema:
                $ref: '#/components/schemas/educationSchool'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Add new school
      tags:
      - educationSchool
  /education/schools/{school-id}:
    delete:
      operationId: DeleteSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Delete school
      tags:
      - educationSchool
    get:
      operationId: GetSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                school:
                  $ref: '#/components/examples/educationSchool'
              schema:
                $ref: '#/components/schemas/educationSchool'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Get the properties of a specific school
      tags:
      - educationSchool
    patch:
      operationId: UpdateSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              schoolNumber: "1234"
            schema:
              $ref: '#/components/schemas/educationSchool'
        description: New property values
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                school:
                  $ref: '#/components/examples/educationSchool'
              schema:
                $ref: '#/components/schemas/educationSchool'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Update properties of a school
      tags:
      - educationSchool
  /education/schools/{school-id}/users/$ref:
    post:
      operationId: AddUserToSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationUser_Reference'
        description: educationUser to be added as member
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Assign a user to a school
      tags:
      - educationSchool
  /education/schools/{school-id}/users/{user-id}/$ref:
    delete:
      operationId: DeleteUserFromSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      - description: "key: id of the user to unassign from school"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          example: 90eedea1-dea1-90ee-a1de-ee90a1deee90
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Unassign user from a school
      tags:
      - educationSchool
  /education/schools/{school-id}/classes/$ref:
    post:
      operationId: AddClassToSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class_Reference'
        description: educationClass to be added as member
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Assign a class to a school
      tags:
      - educationSchool
  /education/schools/{school-id}/classes/{class-id}/$ref:
    delete:
      operationId: DeleteClassFromSchool
      parameters:
      - description: "key: id of school"
        explode: false
        in: path
        name: school-id
        required: true
        schema:
          example: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
          type: string
        style: simple
      - description: "key: id of the class to unassign from school"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          example: 7e84a069-f374-479b-817d-71590117d443
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Unassign class from a school
      tags:
      - educationSchool
  /education/classes:
    get:
      operationId: ListClasses
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 86948e45-96a6-43df-b83d-46e92afd30de
                displayName: Mathematik
                classification: course
                externalId: 1234Mathematik
              - id: 9097631c-24b6-4621-9635-36195a9c8d79
                displayName: 10b
                classification: class
                externalId: 0123_10b
              schema:
                $ref: '#/components/schemas/Collection_of_class'
          description: Retrieved entities
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: list education classes
      tags:
      - educationClass
    post:
      operationId: CreateClass
      requestBody:
        content:
          application/json:
            examples:
              class:
                $ref: '#/components/examples/educationClass_post'
            schema:
              $ref: '#/components/schemas/educationClass'
        description: New entity
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                class:
                  $ref: '#/components/examples/educationClass'
              schema:
                $ref: '#/components/schemas/educationClass'
          description: Created entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Add new education class
      tags:
      - educationClass
  /education/classes/{class-id}:
    delete:
      operationId: DeleteClass
      parameters:
      - description: "key: id of class"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          example: 86948e45-96a6-43df-b83d-46e92afd30de
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Delete education class
      tags:
      - educationClass
    get:
      operationId: GetClass
      parameters:
      - description: "key: id of class"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          example: 86948e45-96a6-43df-b83d-46e92afd30de
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                class:
                  $ref: '#/components/examples/educationClass'
              schema:
                $ref: '#/components/schemas/educationClass'
          description: Retrieved entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Get class by key
      tags:
      - educationClass
    patch:
      operationId: UpdateClass
      parameters:
      - description: "key: id of class"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          example: 86948e45-96a6-43df-b83d-46e92afd30de
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              displayName: Musik
              externalId: 1234Musik
            schema:
              $ref: '#/components/schemas/educationClass'
        description: New property values
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 86948e45-96a6-43df-b83d-46e92afd30de
                displayName: Musik
                classification: course
                externalId: 1234Musik
              schema:
                $ref: '#/components/schemas/educationClass'
          description: New property values
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Update properties of a education class
      tags:
      - educationClass
  /education/classes/{class-id}/members/$ref:
    post:
      operationId: AddUserToClass
      parameters:
      - description: "key: id of class"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          example: 86948e45-96a6-43df-b83d-46e92afd30de
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class_Member_Reference'
        description: educationUser to be added as member
        required: true
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Assign a user to a class
      tags:
      - educationClass
  /education/classes/{class-id}/members/{user-id}/$ref:
    delete:
      operationId: DeleteUserFromClass
      parameters:
      - description: "key: id of class"
        explode: false
        in: path
        name: class-id
        required: true
        schema:
          type: string
        style: simple
      - description: "key: id of the user to unassign from class"
        explode: false
        in: path
        name: user-id
        required: true
        schema:
          example: 90eedea1-dea1-90ee-a1de-ee90a1deee90
          type: string
        style: simple
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      security:
      - bearerAuth: []
      summary: Unassign user from a class
      tags:
      - educationClass
  /extensions/org.libregraph/tags:
    delete:
      operationId: UnassignTags
      requestBody:
        content:
          application/json:
            examples:
              unassign:
                $ref: '#/components/examples/tags_delete'
            schema:
              $ref: '#/components/schemas/tagUnassignment'
      responses:
        "200":
          description: No content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Unassign tags from a resource
      tags:
      - tags
    get:
      operationId: GetTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_of_tags'
          description: Retrieved tags
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Get all known tags
      tags:
      - tags
    put:
      operationId: AssignTags
      requestBody:
        content:
          application/json:
            examples:
              assign:
                $ref: '#/components/examples/tags_put'
            schema:
              $ref: '#/components/schemas/tagAssignment'
      responses:
        "200":
          description: No content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
      summary: Assign tags to a resource
      tags:
      - tags
  /applications/{application-id}:
    get:
      description: Get properties of an application by id
      parameters:
      - description: "key: id of application"
        explode: false
        in: path
        name: application-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/odata.error'
          description: error
components:
  examples:
    tags_put:
      value:
        resourceId: 7f92b0a9-06ad-49dc-890f-0e0a6eb4dea6$e9f01ca3-577f-4d1d-acd4-1cc44149ac25!5fb9f87c-a317-467b-9882-eb9f171564ac
        tags:
        - tag_to_assign_1
        - tag_to_assign_2
    tags_delete:
      value:
        resourceId: 7f92b0a9-06ad-49dc-890f-0e0a6eb4dea6$e9f01ca3-577f-4d1d-acd4-1cc44149ac25!5fb9f87c-a317-467b-9882-eb9f171564ac
        tags:
        - tag_to_unassign_1
        - tag_to_unassign_2
    educationUser:
      value:
        id: 90eedea1-dea1-90ee-a1de-ee90a1deee90
        onPremisesSAMAccountName: max.mustermann
        displayName: Max Mustermann
        surname: Mustermann
        givenName: Max
        mail: max.musterman@example.org
        primariyRole: student
        identities:
        - issuer: idp.school.com
          issuerAssignedId: max.mustermann
    educationUser_post:
      value:
        onPremisesSAMAccountName: max.mustermann
        displayName: Max Mustermann
        surname: Mustermann
        givenName: Max
        mail: max.musterman@example.org
        primariyRole: student
        identities:
        - issuer: idp.school.com
          issuerAssignedId: max.mustermann
    educationSchool:
      value:
        id: 43b879c4-14c6-4e0a-9b3f-b1b33c5a4bd4
        displayName: Realschule Musterstadt
        schoolNumber: "1234"
    educationSchool_post:
      value:
        displayName: Realschule Musterstadt
        schoolNumber: "1234"
    educationClass:
      value:
        id: 86948e45-96a6-43df-b83d-46e92afd30de
        displayName: Mathematik
        classification: course
        externalId: 1234Mathematik
    educationClass_post:
      value:
        displayName: Mathematik
        classification: course
        externalId: 1234Mathematik
  parameters:
    top:
      description: Show only the first n items
      example: 50
      explode: true
      in: query
      name: $top
      required: false
      schema:
        minimum: 0
        type: integer
      style: form
    skip:
      description: Skip the first n items
      explode: true
      in: query
      name: $skip
      required: false
      schema:
        minimum: 0
        type: integer
      style: form
    search:
      description: Search items by search phrases
      explode: true
      in: query
      name: $search
      required: false
      schema:
        type: string
      style: form
    filter:
      description: Filter items by property values
      examples:
        filter by type:
          value: driveType eq 'project'
        filter by id:
          value: id eq 'uuid'
      explode: true
      in: query
      name: $filter
      required: false
      schema:
        type: string
      style: form
    count:
      description: Include count of items
      explode: true
      in: query
      name: $count
      required: false
      schema:
        type: boolean
      style: form
    orderby:
      description: The $orderby system query option allows clients to request resources
        in either ascending order using asc or descending order using desc.
      examples:
        last modified descending:
          value: lastModifiedDateTime desc
        last modified ascending:
          value: lastModifiedDateTime asc
        name descending:
          value: name desc
        name ascending:
          value: name asc
      explode: true
      in: query
      name: $orderby
      required: false
      schema:
        type: string
      style: form
  responses:
    error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
      description: error
  schemas:
    entity:
      description: Represents an entity.
      properties:
        id:
          description: The unique idenfier for an entity. Read-only.
          readOnly: true
          type: string
      readOnly: true
      type: object
    tagAssignment:
      properties:
        resourceId:
          type: string
        tags:
          items:
            type: string
          type: array
      required:
      - resourceId
      - tags
      type: object
    tagUnassignment:
      properties:
        resourceId:
          type: string
        tags:
          items:
            type: string
          type: array
      required:
      - resourceId
      - tags
      type: object
    educationOrganization:
      description: Abstract. Represents an organization in educational context
      properties:
        id:
          description: The unique idenfier for an entity. Read-only.
          readOnly: true
          type: string
        displayName:
          description: The organization name
          type: string
    educationSchool:
      description: Represents a school
      example:
        displayName: displayName
        id: id
        schoolNumber: schoolNumber
      properties:
        id:
          description: The unique idenfier for an entity. Read-only.
          readOnly: true
          type: string
        displayName:
          description: The organization name
          type: string
        schoolNumber:
          description: School number
          type: string
      type: object
    educationClass:
      description: And extension of group representing a class or course
      example:
        displayName: displayName
        members:
        - passwordProfile:
            password: password
            forceChangePasswordNextSignIn: false
          identities:
          - issuerAssignedId: issuerAssignedId
            issuer: issuer
          - issuerAssignedId: issuerAssignedId
            issuer: issuer
          mail: mail
          drives:
          - owner:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
              group:
                displayName: displayName
                id: id
            driveAlias: driveAlias
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            createdByUser: null
            driveType: driveType
            lastModifiedBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
              group:
                displayName: displayName
                id: id
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            description: description
            special:
            - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdByUser: null
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              description: description
              content: content
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              children:
              - null
              - null
              permissions:
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              root: "{}"
              cTag: cTag
              eTag: eTag
              id: id
              image:
                width: 1516424369
                height: 494379917
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              webDavUrl: webDavUrl
              trash:
                trashedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                trashedDateTime: 2000-01-23T04:56:07.000+00:00
              deleted:
                state: state
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 3
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              remoteItem:
                image:
                  width: 1516424369
                  height: 494379917
                shared:
                  owner:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  scope: scope
                  sharedBy:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  sharedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                createdDateTime: 2000-01-23T04:56:07.000+00:00
                webDavUrl: webDavUrl
                parentReference:
                  path: path
                  driveId: driveId
                  driveType: driveType
                  name: name
                  shareId: shareId
                  id: id
                file:
                  processingMetadata: true
                  hashes:
                    sha256Hash: sha256Hash
                    quickXorHash: quickXorHash
                    sha1Hash: sha1Hash
                    crc32Hash: crc32Hash
                  mimeType: mimeType
                folder:
                  view:
                    sortOrder: sortOrder
                    viewType: viewType
                    sortBy: sortBy
                  childCount: 1210617418
                size: 9
                createdBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                webUrl: webUrl
                name: name
                cTag: cTag
                eTag: eTag
                id: id
                specialFolder:
                  name: name
                fileSystemInfo:
                  lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                  lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                  createdDateTime: 2000-01-23T04:56:07.000+00:00
              webUrl: webUrl
              name: name
              specialFolder:
                name: name
              lastModifiedByUser: null
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdByUser: null
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              description: description
              content: content
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              children:
              - null
              - null
              permissions:
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              root: "{}"
              cTag: cTag
              eTag: eTag
              id: id
              image:
                width: 1516424369
                height: 494379917
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              webDavUrl: webDavUrl
              trash:
                trashedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                trashedDateTime: 2000-01-23T04:56:07.000+00:00
              deleted:
                state: state
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 3
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              remoteItem:
                image:
                  width: 1516424369
                  height: 494379917
                shared:
                  owner:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  scope: scope
                  sharedBy:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  sharedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                createdDateTime: 2000-01-23T04:56:07.000+00:00
                webDavUrl: webDavUrl
                parentReference:
                  path: path
                  driveId: driveId
                  driveType: driveType
                  name: name
                  shareId: shareId
                  id: id
                file:
                  processingMetadata: true
                  hashes:
                    sha256Hash: sha256Hash
                    quickXorHash: quickXorHash
                    sha1Hash: sha1Hash
                    crc32Hash: crc32Hash
                  mimeType: mimeType
                folder:
                  view:
                    sortOrder: sortOrder
                    viewType: viewType
                    sortBy: sortBy
                  childCount: 1210617418
                size: 9
                createdBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                webUrl: webUrl
                name: name
                cTag: cTag
                eTag: eTag
                id: id
                specialFolder:
                  name: name
                fileSystemInfo:
                  lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                  lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                  createdDateTime: 2000-01-23T04:56:07.000+00:00
              webUrl: webUrl
              name: name
              specialFolder:
                name: name
              lastModifiedByUser: null
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            parentReference:
              path: path
              driveId: driveId
              driveType: driveType
              name: name
              shareId: shareId
              id: id
            createdBy:
              application:
                displayName: displayName
                id: id
              device:
                displayName: displayName
                id: id
              user:
                displayName: displayName
                id: id
              group:
                displayName: displayName
                id: id
            webUrl: webUrl
            quota:
              total: 1
              deleted: 0
              state: state
              used: 5
              remaining: 6
            root:
              lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdByUser: null
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              description: description
              content: content
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              children:
              - null
              - null
              permissions:
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              root: "{}"
              cTag: cTag
              eTag: eTag
              id: id
              image:
                width: 1516424369
                height: 494379917
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              webDavUrl: webDavUrl
              trash:
                trashedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                trashedDateTime: 2000-01-23T04:56:07.000+00:00
              deleted:
                state: state
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 3
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              remoteItem:
                image:
                  width: 1516424369
                  height: 494379917
                shared:
                  owner:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  scope: scope
                  sharedBy:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  sharedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                createdDateTime: 2000-01-23T04:56:07.000+00:00
                webDavUrl: webDavUrl
                parentReference:
                  path: path
                  driveId: driveId
                  driveType: driveType
                  name: name
                  shareId: shareId
                  id: id
                file:
                  processingMetadata: true
                  hashes:
                    sha256Hash: sha256Hash
                    quickXorHash: quickXorHash
                    sha1Hash: sha1Hash
                    crc32Hash: crc32Hash
                  mimeType: mimeType
                folder:
                  view:
                    sortOrder: sortOrder
                    viewType: viewType
                    sortBy: sortBy
                  childCount: 1210617418
                size: 9
                createdBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                webUrl: webUrl
                name: name
                cTag: cTag
                eTag: eTag
                id: id
                specialFolder:
                  name: name
                fileSystemInfo:
                  lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                  lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                  createdDateTime: 2000-01-23T04:56:07.000+00:00
              webUrl: webUrl
              name: name
              specialFolder:
                name: name
              lastModifiedByUser: null
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            name: name
            eTag: eTag
            id: id
            items:
            - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdByUser: null
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              description: description
              content: content
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              children:
              - null
              - null
              permissions:
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              root: "{}"
              cTag: cTag
              eTag: eTag
              id: id
              image:
                width: 1516424369
                height: 494379917
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              webDavUrl: webDavUrl
              trash:
                trashedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                trashedDateTime: 2000-01-23T04:56:07.000+00:00
              deleted:
                state: state
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 3
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              remoteItem:
                image:
                  width: 1516424369
                  height: 494379917
                shared:
                  owner:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  scope: scope
                  sharedBy:
                    application:
                      displayName: displayName
                      id: id
                    device:
                      displayName: displayName
                      id: id
                    user:
                      displayName: displayName
                      id: id
                    group:
                      displayName: displayName
                      id: id
                  sharedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                createdDateTime: 2000-01-23T04:56:07.000+00:00
                webDavUrl: webDavUrl
                parentReference:
                  path: path
                  driveId: driveId
                  driveType: driveType
                  name: name
                  shareId: shareId
                  id: id
                file:
                  processingMetadata: true
                  hashes:
                    sha256Hash: sha256Hash
                    quickXorHash: quickXorHash
                    sha1Hash: sha1Hash
                    crc32Hash: crc32Hash
                  mimeType: mimeType
                folder:
                  view:
                    sortOrder: sortOrder
                    viewType: viewType
                    sortBy: sortBy
                  childCount: 1210617418
                size: 9
                createdBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                webUrl: webUrl
                name: name
                cTag: cTag
                eTag: eTag
                id: id
                specialFolder:
                  name: name
                fileSystemInfo:
                  lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                  lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                  createdDateTime: 2000-01-23T04:56:07.000+00:00
              webUrl: webUrl
              name: name
              specialFolder:
                name: name
              lastModifiedByUser: null
              fileSystemInfo:
                lastAccessedDateTime: 2000-01-23T04:56:07.000+00:00
                lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
                createdDateTime: 2000-01-23T04:56:07.000+00:00
            - lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
              createdByUser: null
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              description: description
              content: content
              parentReference:
                path: path
                driveId: driveId
                driveType: driveType
                name: name
                shareId: shareId
                id: id
              file:
                processingMetadata: true
                hashes:
                  sha256Hash: sha256Hash
                  quickXorHash: quickXorHash
                  sha1Hash: sha1Hash
                  crc32Hash: crc32Hash
                mimeType: mimeType
              children:
              - null
              - null
              permissions:
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              - roles:
                - roles
                - roles
                grantedToIdentities:
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                - application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
              root: "{}"
              cTag: cTag
              eTag: eTag
              id: id
              image:
                width: 1516424369
                height: 494379917
              lastModifiedBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              webDavUrl: webDavUrl
              trash:
                trashedBy:
                  application:
                    displayName: displayName
                    id: id
                  device:
                    displayName: displayName
                    id: id
                  user:
                    displayName: displayName
                    id: id
                  group:
                    displayName: displayName
                    id: id
                trashedDateTime: 2000-01-23T04:56:07.000+00:00
              deleted:
                state: state
              folder:
                view:
                  sortOrder: sortOrder
                  viewType: viewType
                  sortBy: sortBy
                childCount: 1210617418
              size: 3
              createdBy:
                application:
                  displayName: displayName
                  id: id
                device:
                  displayName: displayName
                  id: id
                user:
                  displayName: displayName
                  id: id
                group:
                  displayName: displayName
                  id: id
              remoteItem:
[...]
